/* Stylesheet for CCP4 pages */

body {
    background-color: #ffaa66;
    font-family: "Lucida Grande", "Luxi Sans", "Bitstream Vera Sans",
        "Trebuchet MS", helvetica, verdana, arial, sans-serif;
    margin: 0;
}

/* Links */

a {
    font-weight: bold;
}

a:link {
    color: #005A7B;
}

a:visited {
    color: #660000;
}

/* Header */

header {
    background-color: white;
}

/* Navigation bar */

nav {
    box-sizing: border-box;
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
    gap: 5px;
}

nav a {
    text-align: center;
    text-decoration: none;
    flex: auto;
    background-color: #ddd;
    padding: 8px 20px;
}

/* Page content */

main {
    margin-left: 3vw;
    margin-right: 3vw;
    background-color: #ffeedd;
    padding: 10px;
}

/* Headings */

h1 {
    background-color: #015979;
    color: white;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    border-width: 4px;
    border-color: white;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: white;
}

h2 {
    background-color: #ddd;
    background-size: 100% 150%;
    padding: 4px;
    margin-top: 0;
}

h3 {
    color: black;
    background-color: #ff9933;
    padding-left: 4px;
}

/* Images */

img {
    display: block;
    max-width: 100%;
}

/* Spaced content (organisers and sponsers) */

.spaced {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
