/* Stylesheet for CCP4 pages */

body {
    background-color: #ffaa66;
    font-family: "Lucida Grande", "Luxi Sans", "Bitstream Vera Sans",
        "Trebuchet MS", helvetica, verdana, arial, sans-serif;
    margin: 0;
    padding-bottom: 30px;
}

/* Links */

a {
    font-weight: bold;
}

a:link {
    color: #005A7B;
}

a:visited {
    color: #660000;
}

/* Header */

header {
    background-color: white;
    padding: 0 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
}

header .title {
    flex: 1;
    text-align: center;
    word-wrap: normal;
    font-size: x-large;
    font-weight: bold;
    margin: 0;
}

header .logos {
    width: min(387px, 100%);
    display: flex;
    justify-content: space-between;
}

header img {
    max-width: 100%;
}

/* Navigation bar */

nav {
    box-sizing: border-box;
    background-color: #999999;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2px;
    gap: 2px;
}

nav a {
    text-align: center;
    text-decoration: none;
    flex: auto;
    background-image: url(../images/navbar/lightgrey_white.gif);
    background-size: 100% 200%;
    background-color: #aaaaaa;
    padding: 3px 20px;
    border-style: solid;
    border-width: 1px;
    border-bottom-color: #777777;
    border-top-color: #777777;
    border-right-color: #dddddd;
    border-left-color: #555555;
}

/* Page content */

main {
    margin-left: min(30px, 3vw);
    margin-right: min(30px, 3vw);
    background-color: #ffeedd;
    padding: 10px;
}

/* Headings */

h1 {
    background-color: #015979;
    color: white;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    border-width: 4px;
    border-color: white;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: white;
}

h2 {
    background-color: #ececec;
    background-image: url(../images/navbar/lightgrey_white.gif);
    background-size: 100% 150%;
    padding: 4px;
}

h3 {
    color: black;
    background-color: #ff9933;
    padding-left: 4px;
}

/* Spaced content (organisers and sponsers) */

.spaced {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
